.heading {
  margin-top: -10px;
}
.link {
  border: 1px solid rgba(255, 255, 255, 0.083);
  padding: 4px 4px;
  align-items: center;
  width: fit-content;
  display: flex;
  justify-self: center;
  align-self: center;
  border-radius: 50px;
}
.link .demo {
  text-decoration: none;
}
.link .demo:hover {
  text-decoration: underline;
}
.h1 {
  color: rgb(156, 155, 155);
}
.focus {
  color: white;
}
.Main {
  width: 100%;
  background: #000;
  color: #fff;
}

.blocks {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 50px;
border-bottom:1px solid #2a2a2a ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* CARD */
.box {
  padding: 0 32px;
  text-align: center;
  
  display: flex;
  
  flex-direction: column;
  align-items: center;
  gap: 12px;

  position: relative;

}

/* vertical divider */
.box:not(:first-child)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    height: 80%;
    width: 1px;
    background: #2a2a2a;
}

.icon {
  opacity: 0.9;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 15px;
  color: #a1a1a1;
  line-height: 1.6;
}

/* tablet */
@media (max-width: 1024px) {
  .blocks {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .box::before {
    display: none;
  }
}

/* mobile */
@media (max-width: 600px) {
  .blocks {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

